/*
    shoddy.css
    A shoddy CSS framework
    developed by morkimer

    Source Edition
    version 0.1
*/

/* Basic font classes */
.sh-serif{font-family:serif;}
.sh-sans-serif{font-family:sans-serif;}
.sh-monospace{font-family:monospace;}

/* Color scheme */
.sh-bg-white {
    background:#fff;
}
.sh-bg-black {
    background:#000;
}
.sh-bg-light-grey {
    background:#ddd;
}
.sh-bg-green {
    background:#3ab240;
}

grn{color:#12f00a;}
red{color:#f03a1f;}
lrd{color:#e76a4f;}
org{color:#f58e23;}
lbl{color:#0ac3ff;}
blu{color:#157ad1;}
gry{color:#808080;}
lgr{color:#c0c0c0;}

/* Visual effects */
.sh-div-shadow {
    box-shadow:0 1px 6px rgba(0,0,0,0.5);
}

/* Headers, styling etc */
.sh-item-title {
    font-size:24pt;
    text-align:center;
}
::selection {
    color:#111;
    background:#eee;
}
::-moz-selection {
    color:#111;
    background:#eee;
}

/* Elements */
.sh-code {
    box-sizing:border-box;
    padding:10px;
    background:#333;
    color:#eee;
    box-shadow:inset 0 0 7px #000;
}
.sh-flat-button {
    border:none;
    outline:none;
    display:inline-block;
    text-decoration:none;
    padding:10px 20px;
    text-align:center;
    transition:background 0.15s;
}

/* Page layout */
body {
    padding:10px;
}
.sh-page-title-container {
    margin:20px auto;
    text-align:center;
}
.sh-page-title {
    font-size:48pt;
}
.sh-page-subtitle {
    font-size:24pt;
}
.sh-grid-container {
    position:relative;
    margin:15px auto;
    display:flex;
    width:auto;
    flex-direction:row;
    flex-flow:row;
    flex-wrap:wrap;
}
.sh-columns-container div {
    box-sizing:border-box;
    padding:10px;
}
.sh-columns-container-2 {
    margin:auto;
    width:40%;
}
.sh-columns-container-3 {
    margin:auto;
    width:23.3333%;
}
.sh-rows-container-1 {
    margin:auto;
    width:90%;
}
.sh-columns-container-3 div, .sh-columns-container-2 div, .sh-rows-container-1 div {
    margin:10px auto;
}

@media screen and (max-width:900px) {
    .sh-columns-container-3 {
        width:90%;
        margin:10px auto;
    }
}
@media screen and (max-width:590px) {
    .sh-columns-container-2 {
        width:90%;
        margin:10px auto;
    }
}