/*
    shoddy.css
    A shoddy CSS framework
    developed by Chris Shoeman, Jacob Hinkston, Michael Cohagan

    Source
    MENUS
    v0.3
*/

.sh-menubar {
    position:fixed;
    display:flex;
    top:0;
    left:0;
    right:0;
    height:40px;
    background:#eee;
    box-shadow:0 0 6px 1px rgba(0,0,0,0.4);
    padding:5px 10px;
    line-height:30px;
    font-size:12pt;
    z-index:99999;
}
.sh-menubar div {
    margin:0 10px;
}
#menubar-button {
    cursor:pointer;
}
.sh-sidebar {
    position:fixed;
    top:40px;
    left:0;
    bottom:0;
    width:300px;
    height:0px;
    max-width:100vw;
    padding:none;
    font-size:18pt;
    background:#eee;
    box-shadow:0 0 0 1px rgba(0,0,0,0.2);
    z-index:99998;
    font-size:10pt;
    overflow-y:hidden;
}
.sh-sidebar-cover {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.0);
    display:none;
    z-index:99997;
}
.sh-sidebar-container div {
    padding:10px;
    margin:10px 0;
    cursor:pointer;
}
.sh-sidebar-separator {
    cursor:default!important;
    padding:0px!important;
    margin:10px auto!important;
    width:95%!important;
    background:rgba(0,0,0,0.2)!important;
    height:1px!important;
}