/*
    shoddy.css
    A shoddy CSS framework
    developed by Chris Shoeman and Jacob Hinkston

    Source
    TRANSITIONS
    v0.2
*/

.sh-sidebar {
    transition:height 0.2s ease-out, padding 0.2s;
}
.sh-sidebar-cover {
    transition:background 0.2s;
}
.sh-alert-cover {
    transition:background 0.2s;
}
.sh-flat-button {
    transition:background 0.25s;
}
.sh-sidebar-container div {
    transition:background 0.25s;
}
.sh-alert {
    transition:transform 0.15s ease-out, opacity 0.15s;
}
.sh-collapsible-contents {
    transition:height 0.2s ease-in-out;
}
.sh-toast {
    transition:opacity 0.2s, bottom 0.2s;
}
input {
    transition:border-bottom 0.2s;
}